<h1>Rotten Mangoes</h1>
<%= link_to "Submit a movie!", new_movie_path %>
<hr>
<%= form_tag '/movies', method: :get do %>
  <div>
  <%= label_tag(:term, "Search term:") %>
  <%= text_field_tag(:term) %>
</div>
<div>
  <%= label_tag(:duration, "Duration:") %>
  <%= select_tag(:duration, options_for_select([['Under 90',1],['Between 90 and 120',2],['Over 120',3]]),include_blank: true) %>
</div>
  <%= submit_tag "Search" %>
<% end %>
<div id="grid-container" class="cols">
  <div class="movie-col col-md-3"></div>
  <div class="movie-col col-md-3"></div>
  <div class="movie-col col-md-3"></div>
  <div class="movie-col col-md-3"></div>
</div>
<div id="holder">
  <% @movies.each do |movie| %>
    <%= render partial: "movie", locals: {movie: movie} %>
  <% end %>
<div>
